<!DOCTYPE html>
<html lang="eng">
<head>

	<title>DataSet Maker  </title>
	<meta charset="UTF-8">
	<meta name="description" content="DataSet Maker">
	<meta name="keywords" content="Datasets, ML">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/flaticon.css">
	<link rel="stylesheet" href="static/css/slicknav.min.css">
	<link rel="stylesheet" href="static/css/style.css">


</head>
<body>
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<header>
		<a class="site-logo">

			<h2 style="margin-left: 20px;margin-top: -15px;"> <font color="black"> <b> DataSet Maker </b>  </font> </h2> 
		</a>
	</header>

	<section class="hero-section">
		<div class="container">
			<div class="row">
					
				<div class="col-lg-6">
					<div class="hs-text"> 
						<font color="black" size=6px><b> <u> <center> Looking forward in building a customised DataSet? </center> </u> </b>  </font> 
						 <p> <font color="black" size=5px> <b> <center> If Yes! This website will serve as an apt tool for Making Customised Image-Based DataSet for ML model training.   </center> </b> </font></p>
	
					</div>
				</div> 
				<div class="col-lg-6">
					<form action="/getImages" method="get" class="hero-form">
						<input type="text" placeholder="Name of class" name="nclass">
						<input type="number" placeholder="No of Images" name="nlimits">
						<!-- <input type="text" placeholder="Asspect Ratio (possible values: tall, square, wide, panoramic)"> -->
						<p>Please note that by default the class wise dataset will be saved in Download Folder </p>
						<input type="submit" class="site-btn">Get your DataSet NOW</input>
					</form>
				</div>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="static/img/1.png"></div>
		</div>
	</section>


		<div class="container">
			
				<p><center> A project by Smile Gupta </center></p>
			
		</div>

	
	
	<!--====== Javascripts & Jquery ======-->

	<script src="static/js/jquery-3.2.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.slicknav.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/jquery-ui.min.js"></script>
	<script src="static/js/main.js"></script>

	</body>
</html>
